 .u-section-1 {
  background-image: linear-gradient(#33e71f, #be4aea);
}

.u-section-1 .u-sheet-1 {
  min-height: 387px;
}

.u-section-1 .u-icon-1 {
  height: 105px;
  width: 105px;
  background-image: none;
  margin: 77px 485px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 12px 169px 32px 235px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-right: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 69px;
    margin-left: 135px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: 306px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: 145px;
  }
} .u-section-2 {
  background-image: linear-gradient(#be4aea, #d8c545);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}